<div class="survey-container">
  <div class="home-content">
    
    <div class="top-bar">
      <div class="logo-container">
        <div class="menu-icon" (click)="toggleSidebar()">
          <img src="../../../assets/imagenes/lista.png" alt="Menú" />
        </div>
        <span class="app-title">ENCUESTAS</span>
        <img src="../../../assets/imagenes/logoIder.png" alt="Logo" class="logo" />
      </div>
      <div class="top-bar-options">
        <div (click)="logOut()" class="logout-btn">
          <img src="../../../assets/imagenes/cerrar-sesion.png" alt="Cerrar Sesión" class="logout-icon" />
        </div>
      </div>
    </div>
  
    
    <app-sidebar [isActive]="isSidebarActive"></app-sidebar>
  
    <div class="overlay" *ngIf="isSidebarActive" (click)="toggleSidebar()"></div>
  
 
 
    <div class="header">
      <input
        type="text"
        placeholder="Buscar encuestas..."
        [(ngModel)]="searchTerm"
        (input)="filterSurveys()"
      />
      <select [(ngModel)]="selectedFilter" (change)="filterSurveys()">
        <option *ngFor="let option of filterOptions" [value]="option.value">
          {{ option.label }}
        </option>
      </select>
      <button (click)="logOut()">Cerrar Sesión</button>
    </div>
  
    
    <div *ngIf="isLoading" class="loading">
      Cargando encuestas...
    </div>
  
  
    <div *ngIf="!isLoading && filteredSurveys.length > 0" class="survey-list">
      <div
        *ngFor="let survey of filteredSurveys"
        class="survey-item"
        (click)="openSurvey(survey.id)"
      >
        <h3>{{ survey.titulo }}</h3>
        <p>ID: {{ survey.id }}</p>
        <p>Fecha de Creación: {{ survey.fecha_creacion | date: 'shortDate' }}</p>
        <p>Fecha de Cierre: {{ survey.fecha_cierre | date: 'shortDate' }}</p>
        <p>Descripción: {{ survey.descripcion }}</p>
        <p>Estado: {{ survey.estado }}</p>
      </div>
    </div>
  
    
    <div *ngIf="!isLoading && filteredSurveys.length === 0" class="no-surveys">
      No se encontraron encuestas.
    </div>
  </div>
  