<div class="home-content">
    <!-- Barra superior -->
    <div class="top-bar">
      <div class="logo-container">
        <div class="menu-icon" (click)="toggleSidebar()">
          <img src="../../../assets/imagenes/lista.png" alt="Menú" />
        </div>
        <span class="app-title">ENCUESTAS</span>
        <img src="../../../assets/imagenes/logoIder.png" alt="Logo" class="logo" />
      </div>
      <div class="top-bar-options">
        <div (click)="logOut()" class="logout-btn">
          <img src="../../../assets/imagenes/cerrar-sesion.png" alt="Cerrar Sesión" class="logout-icon" />
        </div>
      </div>
    </div>
  
    <!-- Barra lateral (sidebar) -->
    <app-sidebar [isActive]="isSidebarActive"></app-sidebar>
  
    <!-- Overlay para opacar contenido cuando el sidebar esté activo -->
    <div class="overlay" *ngIf="isSidebarActive" (click)="toggleSidebar()"></div>
  
    <!-- Contenedor del perfil -->
    <div class="profile-container">
      <h2>Perfil del Usuario</h2>
      <div *ngIf="userProfile">
        <form *ngIf="isEditing" (ngSubmit)="saveChanges()">
          <div class="credential-item">
            <label for="identificacion">Identificación:</label>
            <input type="text" id="identificacion" [(ngModel)]="userProfile.identificacion" name="identificacion" required />
          </div>
          <div class="credential-item">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" [(ngModel)]="userProfile.nombre" name="nombre" required />
          </div>
          <div class="credential-item">
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" [(ngModel)]="userProfile.apellido" name="apellido" required />
          </div>
          <div class="credential-item">
            <label for="email">Email:</label>
            <input type="email" id="email" [(ngModel)]="userProfile.email" name="email" required />
          </div>
          <div class="credential-item">
            <label for="estado">Estado:</label>
            <input type="text" id="estado" [(ngModel)]="userProfile.estado" name="estado" required />
          </div>
          <button type="submit">Guardar</button>
        </form>
  
        <div *ngIf="!isEditing">
          <p><strong>Identificación:</strong> {{ userProfile.identificacion }}</p>
          <p><strong>Nombre:</strong> {{ userProfile.nombre }}</p>
          <p><strong>Apellido:</strong> {{ userProfile.apellido }}</p>
          <p><strong>Email:</strong> {{ userProfile.email }}</p>
          <p><strong>Estado:</strong> {{ userProfile.estado }}</p>
          <button (click)="editProfile()">Actualizar</button>
        </div>
      </div>
      <div *ngIf="!userProfile">
        <p>Cargando información del perfil...</p>
      </div>
    </div>
  </div>
  