<!-- Barra Superior -->
<div class="barra-superior">
  <div class="logo-container">
    <img src="../../../assets/imagenes/logoIder.png" alt="Logo de IDER" class="logo">
  </div>
  <p class="texto-barra">
    ¡Cartagena se transforma! Estamos trabajando de sur a norte para transformar la calidad de vida de todos los cartageneros.
  </p>
  <div class="botones">
    <button class="boton-sesion">Iniciar sesión</button>
    <button class="boton-registro">Registrarse</button>
  </div>
</div>

<!-- Fondo Difuminado y Login -->
<div class="fondo-difuminado"></div> <!-- Fondo difuminado -->

<div class="login-container">
  <!-- Contenedor del Login -->
  <div class="login-card">
    <!-- Encabezado con Título -->
    <div class="contenedor-titulo-logo">
      <h1 class="bienvenido">Bienvenido a IDER</h1>
    </div>

    <!-- Formulario de Inicio de Sesión -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="campo">
        <label for="username">Usuario</label>
        <input id="username" formControlName="username" type="text" placeholder="Ingrese su usuario">
      </div>
      <div class="campo">
        <label for="password">Contraseña</label>
        <input id="password" formControlName="password" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Ingrese su contraseña">
      </div>
      <div class="opciones">
        <label>
          <input type="checkbox" (change)="togglePasswordVisibility()"> Mostrar contraseña
        </label>
        <a (click)="goToRecoverPassword()">¿Olvidó su contraseña?</a>
      </div>
      <button class="boton-ingresar" type="submit" [disabled]="loginForm.invalid">Ingresar</button>
      <div class="registro">
        No tiene cuenta? 
        <a (click)="goToRegister()">Registrarse</a>
      </div>
    </form>

    <!-- Iconos de Redes Sociales -->
    <div class="social-icons">
      <a href="https://www.instagram.com/ider_ctg/?hl=es" target="_blank">
        <img src="../../../assets/imagenes/instagram.png" alt="Instagram" class="social-icon">
      </a>
      <a href="https://x.com/idercartagena?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
        <img src="../../../assets/imagenes/twitter.png" alt="Twitter" class="social-icon">
      </a>
      <a href="https://www.facebook.com/ider.gov.co" target="_blank">
        <img src="../../../assets/imagenes/facebook.png " alt="Facebook" class="social-icon">
      </a>
    </div>

    <!-- Acerca del IDER -->
    <a class="acerca-del-ider" href="/acerca-del-ider">Acerca del IDER</a>
  </div>
</div>
