/* Barra superior */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.logo-container {
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
}

.menu-icon img {
  width: 100%;
  height: auto;
}

.top-bar-options {
  margin-right: 20px; /* Ajustado para acercar el botón de cerrar sesión */
}

.logout-btn {
  cursor: pointer;
}

.logout-icon {
  width: 24px;
  height: 24px;
}

/* Logo más pequeño */
.logo-container .logo {
  width: 150px;  /* Ajusta el tamaño según lo necesites */
  height: auto;
}

/* Cambiar color del texto "ENCUESTAS" a negro */
.app-title {
  color: #000;  /* Cambia el color a negro */
}

/* Sidebar desplegable */
app-sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #343a40;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  transition: left 0.3s ease;
  z-index: 10;
}

app-sidebar.active {
  left: 0;
}

.sidebar-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-links li {
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.sidebar-links li:hover {
  background-color: #495057;
  transform: translateX(10px); /* Mueve el elemento hacia adelante */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6); /* Efecto de brillo */
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

/* Contenido principal */
.content.sidebar-active {
  opacity: 0.5;
}

/* Tarjeta de saludo */
.greeting-card {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Posiciona el texto y la imagen en extremos */
  padding: 50px;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin: 30px auto 20px; /* Centra la tarjeta horizontalmente */
  width: 50%; /* La tarjeta ocupa el 50% del ancho */
  min-width: 400px; /* Para asegurar que no sea demasiado pequeña en pantallas grandes */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Añade sombra para darle más énfasis */
}

.greeting-text {
  color: #333;
  font-size: 30px; /* Aumenta el tamaño del texto */
  font-weight: 600; /* Añade negrita */
}

.user-image {
  width: 200px; /* Aumenta el tamaño de la imagen */
  height: 200px;
  border-radius: 0%; /* Mantén el borde redondeado */
  margin-left: 10px; /* Reduce el espacio entre la imagen y el texto */
}

/* Asegura que la tarjeta no quede demasiado pequeña */
@media (max-width: 768px) {
  .greeting-card {
    width: 80%; /* Aumenta el tamaño en pantallas más pequeñas */
  }
}

/* Tarjeta de crear encuesta */
.create-survey-card {
  display: flex;
  flex-direction: column; /* Cambia a columna para que el texto esté debajo del icono */
  align-items: center; /* Centra los elementos dentro de la tarjeta */
  justify-content: center; /* Centra verticalmente */
  padding: 30px;
  background-color: #949494;
  color: #fff;
  border-radius: 8px;
  margin: 60px 70px 10px; /* Se añadió margen superior y margen lateral */
  width: 100px; /* Ajusta el tamaño para que sea cuadrada */
  height: 100px; /* Ajusta la altura */
  transition: background-color 0.3s ease;
}

.create-survey-card:hover {
  background-color: #0094f7;
}

.card-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 10px; /* Añade espacio entre el icono y el texto */
}

.card-text {
  font-size: 15px;
  text-align: center; /* Centra el texto */
}

