<div class="home-content">

  <div class="top-bar">
    <div class="logo-container">
      <div class="menu-icon" (click)="toggleSidebar()">
        <img src="../../../assets/imagenes/lista.png" alt="Menú" />
      </div>
    </div>
    <h1 class="texto"><strong>¡Cartagena se transforma! Estamos trabajando de sur a norte para transformar la calidad de vida de todos los cartageneros.</strong></h1>
    <div class="top-bar-options">
      <div (click)="logOut()" class="logout-btn">
        <img src="../../../assets/imagenes/cerrar-sesion.png" alt="Cerrar Sesión" class="logout-icon" />
      </div>
    </div>
  </div>

  <app-sidebar [isActive]="isSidebarActive"></app-sidebar>

  <div class="overlay" *ngIf="isSidebarActive" (click)="toggleSidebar()"></div>

  <div class="content" [class.sidebar-active]="isSidebarActive">

    <div class="greeting-card column-layout">
      <img src="../../../assets/imagenes/logoIder.png" alt="Logo" class="logo" />
      <div class="content-row">
        <div class="greeting-text">
          <p>{{ greetingMessage }}</p>
        </div>
        <img src="../../../assets/imagenes/encuesta-online.png" alt="Imagen del Usuario" class="user-image" />
      </div>
    </div>

    <div class="cards-container">

      <div class="card create-survey-card" (click)="createSurvey()">
        <img src="../../../assets/imagenes/votacion.png" alt="Crear Encuesta" class="card-icon" />
        <span class="card-text">Crear Encuesta</span>
      </div>

      <div class="card list-surveys-card" (click)="redirectToListSurveys()">
        <img src="../../../assets/imagenes/portapapeles.png" alt="Listas Encuestas" class="card-icon" />
        <span class="card-text">Listas Encuestas</span>
      </div>

      <div class="card view-profile-card" (click)="viewProfile()">
        <img src="../../../assets/imagenes/ver-usuario.png" alt="Ver Perfil" class="card-icon" />
        <span class="card-text">Ver Perfil</span>
      </div>

      <div class="card update-user-profiles-card" (click)="updateUserProfiles()">
        <img src="../../../assets/imagenes/boton-de-actualizacion-con-usuarios-dentro.png" alt="Actualizar Perfiles de Usuario" class="card-icon" />
        <span class="card-text">Actualizar Usuarios</span>
      </div>

      <div class="card update-survey-card" (click)="updateSurvey()">
        <img src="../../../assets/imagenes/evaluacion.png" alt="Actualizar Encuesta" class="card-icon" />
        <span class="card-text">Actualizar Encuesta</span>
      </div>

      <div class="card delete-survey-card" (click)="deleteSurvey()">
        <img src="../../../assets/imagenes/reporte.png" alt="Eliminar Encuesta" class="card-icon" />
        <span class="card-text">Eliminar Encuesta</span>
      </div>

      <div class="card delete-survey-card" (click)="encuestaTabla()">
        <img src="../../../assets/imagenes/reporte." alt="Eliminar Encuesta" class="card-icon" />
        <span class="card-text">Eliminar Encuesta</span>
      </div>
    </div>
  </div>
</div>
