<div class="home-content">
  <!-- Barra superior -->
  <div class="top-bar">
    <div class="logo-container">
      <div class="menu-icon" (click)="toggleSidebar()">
        <img src="../../../assets/imagenes/lista.png" alt="Menú" />
      </div>
      <span class="app-title">ENCUESTAS</span>
      <img src="../../../assets/imagenes/logoIder.png" alt="Logo" class="logo" />
    </div>
    <div class="top-bar-options">
      <div (click)="logOut()" class="logout-btn">
        <img src="../../../assets/imagenes/cerrar-sesion.png" alt="Cerrar Sesión" class="logout-icon" />
      </div>
    </div>
  </div>

  <!-- Barra lateral (sidebar) -->
  <app-sidebar [isActive]="isSidebarActive"></app-sidebar>

  <!-- Overlay para opacar contenido cuando el sidebar esté activo -->
  <div class="overlay" *ngIf="isSidebarActive" (click)="toggleSidebar()"></div>

  <!-- Contenido principal -->
  <div class="content" [class.sidebar-active]="isSidebarActive">
    <!-- Tarjeta de saludo -->
    <div class="greeting-card">
      <div class="greeting-text">
        <p>Bienvenido, Daniel Andres</p>
        <p>¡Ten un excelente Dia!</p>
      </div>
      <img src="../../../assets/imagenes/encuesta-online.png" alt="Imagen del Usuario" class="user-image" />
    </div>

    <!-- Tarjeta de Crear Encuesta -->
    <div class="create-survey-card" (click)="createSurvey()">
      <img src="../../../assets/imagenes/votacion.png" alt="Crear Encuesta" class="card-icon" />
      <span class="card-text">Crear Encuesta</span>
    </div>
  </div>
</div>
