<!-- Lista de Encuestas -->
<div *ngIf="!surveyDetails && !isLoading" class="survey-list">
  <h2>Lista de Encuestas</h2>
  <div
    *ngFor="let survey of filteredSurveys"
    class="survey-item"
    (click)="navigateToSurveyDetails(survey.id)"
  >
    <h3>{{ survey.titulo }}</h3>
    <p>Descripción: {{ survey.descripcion }}</p>
  </div>

</div>

<!-- Detalles de la encuesta -->
<div *ngIf="surveyDetails && !isLoading" class="card survey-card">
  <h2>Actualizar Encuesta</h2>

  <form (ngSubmit)="updateSurvey()">
    <div>
      <label for="titulo">Título</label>
      <input type="text" id="titulo" [(ngModel)]="surveyDetails.titulo" name="titulo" required />
    </div>

    <div>
      <label for="descripcion">Descripción</label>
      <textarea id="descripcion" [(ngModel)]="surveyDetails.descripcion" name="descripcion" required></textarea>
    </div>

    <div>
      <label for="fecha_creacion">Fecha de Creación</label>
      <input type="date" id="fecha_creacion" [(ngModel)]="surveyDetails.fecha_creacion" name="fecha_creacion" />
    </div>

    <div>
      <label for="fecha_cierre">Fecha de Cierre</label>
      <input type="date" id="fecha_cierre" [(ngModel)]="surveyDetails.fecha_cierre" name="fecha_cierre" />
    </div>

    <button type="submit" [disabled]="isLoading">Actualizar Encuesta</button>
  </form>
</div>

<!-- Secciones de la Encuesta -->
<div *ngIf="surveyDetails && sections.length > 0 && !isLoading" class="card section-card">
  <h3>Secciones</h3>

  <div *ngFor="let section of sections" class="section-item">
    <form (ngSubmit)="updateSection(section)">
      <label for="titulo-{{section.id}}">Título de la Sección</label>
      <input
        type="text"
        id="titulo-{{section.id}}"
        [(ngModel)]="section.titulo"
        name="titulo{{section.id}}"
        required
      />

      <button type="submit" [disabled]="isLoading">Actualizar Sección</button>
      <button type="button" (click)="deleteSection(section.id)" [disabled]="isLoading">Eliminar</button>
    </form>

    <!-- Mostrar preguntas por Sección -->
    <div *ngIf="getQuestionsBySection(section.id).length > 0">
      <h4>Preguntas de la sección: {{ section.titulo }}</h4>

      <div *ngFor="let question of getQuestionsBySection(section.id)" class="question-item">
        <!-- Mostrar título actual -->
        <p><strong>Título actual:</strong> {{ question.texto }}</p>

        <!-- Formulario para editar la pregunta -->
        <form (ngSubmit)="updateQuestion(question)">
          <label for="question-{{question.id}}">Nuevo título</label>
          <input
            type="text"
            id="question-{{question.id}}"
            [(ngModel)]="question.texto"
            name="question{{question.id}}"
            required
          />
          <button type="submit" [disabled]="isLoading">Actualizar Pregunta</button>
        <button (click)="deleteQuestion(question.id)" [disabled]="isLoading">Eliminar</button>


        </form>

        <!-- Mostrar opciones de la pregunta -->
        <div class="options-section" *ngIf="getOptionsByQuestion(question.id).length > 0">
          <h5>Opciones:</h5>
          <ul>
            <li *ngFor="let Option of getOptionsByQuestion(question.id)">
              {{ Option.texto }}
            </li>
          </ul>
        </div>
        <div *ngIf="getOptionsByQuestion(question.id).length === 0">
          <p>No hay opciones disponibles para esta pregunta.</p>
        </div>
      </div>
    </div>

    <!-- Mensaje si no hay preguntas en esta sección -->
    <div *ngIf="getQuestionsBySection(section.id).length === 0">
      <p>No hay preguntas disponibles para esta sección.</p>
    </div>
  </div>
</div>

<!-- Mensaje de carga -->
<div *ngIf="isLoading">Cargando...</div>

<!-- Mensaje si no hay secciones -->
<div *ngIf="surveyDetails && sections.length === 0 && !isLoading">
  <p>No hay secciones disponibles para esta encuesta.</p>
</div>
